
body{
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.title{
    font-family: "Kids Magazine", sans-serif;
    color: whitesmoke;
    text-shadow: black 9px 9px;
    font-size: 3rem;
}
.title a{
    font-size: 5rem;
    text-shadow: black 12px 12px;
    color: whitesmoke;
}
.title a:hover{
    font-size: 5.5rem;
    transition: all 0.15s ease;
}

.logoImg{
    width: 250px;
}


.whenLoggedOut{
    margin-top: 6rem;
    overflow: hidden;
}

.whenLoggedIn{
    height: 100vh;
    display: grid;
    place-items: center;
    overflow: hidden;
}

