.quwuHeadline{
    font-family: "Kids Magazine", sans-serif;
    color: whitesmoke;
    text-shadow: black 10px 10px;
    font-size: 4rem;
}

.quwuPfp{
    width: 8rem;
}

.quUserData{
    font-size: 2rem;
    font-family: Impact, sans-serif;
    border: solid black 0.3rem;
    box-shadow: black 4px 4px;
    border-radius: 10px;
    background-color: whitesmoke;
}

.quwuSubText{
    border-radius: 20px;
    padding: 1.5rem 0;
    margin-top: 4rem;
    background-color: whitesmoke;
    border: solid black 0.5rem;
    box-shadow: black 10px 10px;
    font-family: Impact, sans-serif;
    font-size: 1.5rem;
    color: black;
}