.usernameHeadline{
    font-family: "Kids Magazine", sans-serif;
    color: whitesmoke;
    text-shadow: black 6px 6px;
    font-size: 3rem;
}

.statRow h4{
    font-family: Impact, sans-serif;
    color: whitesmoke;
    text-shadow: black 5px 5px;
    font-size: 2.3rem;
}