h2 {
    font-size: 50px;
    font-weight: bold;
    color: whitesmoke;
    font-family: impact, sans-serif;
}

.nextPlayer {
    text-shadow: black 5px 5px;
}

.square.btn:active {
    width: 130px !important;
    height: 130px !important;
    background-color: transparent !important;
}

.square.btn:focus{
    border-color: whitesmoke;
}

.board {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: auto;
}

.board-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.square.btn {
    font-family: "Kids Magazine", sans-serif;
    color: whitesmoke;
    width: 130px !important;
    height: 130px !important;
    background-color: transparent !important;
    font-size: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid whitesmoke;
    border-radius: 0;
}

.square.btn:hover {
    width: 130px !important;
    height: 130px !important;
    background-color: rgba(245, 245, 245, 0.5) !important;
    cursor: default;
    box-shadow: none;
}