.finishModal a:link {
    text-decoration: none; color: white
}

.finishModal a:visited{
    text-decoration: none; color: white
}


.finishModal h2 {
    font-family: "Kids Magazine", sans-serif;
    color: whitesmoke;
    text-shadow: black 9px 9px;
    font-size: 3rem;
    margin-bottom: 5rem;
    margin-top: 3rem
}

.finishModal {
    font-family: 'Impact', cursive;
    font-size: 2.5rem;
}

.finishModalBody{
    background-color: #42b1f8 !important;
}