.GamePage{
    font-family: Impact, sans-serif;
}

.mid{
    padding-top: 3rem;
}
.red{
    background-color: #ff1e1e !important;
    font-size: 1.5rem !important;
    padding: 1.5rem 2rem !important;
    width: 200px;
}