.userData h2{
    font-family: Impact, sans-serif;
    color: black !important;
    font-size: 4rem;
}
.userData h2 a{
    color: black !important;
    font-size: 3rem;
}
.userData{
    margin-top: 4rem;
}
.profileContent{
    margin-top: 4rem;
}
.actualContent{
    background-color: whitesmoke;
    border-radius: 15px;
    border: solid black 0.5rem;
    padding: -5rem;
    box-shadow: black 10px 10px;
}
.randomAssIcon{
    font-size: 3rem;
}

.red{
    background-color: #ff1e1e !important;
    font-size: 1.5rem !important;
    margin-left: 7rem;
    padding: 2.9rem 2rem !important;
}

.filled{
    box-shadow: black 15px 15px;
    border: solid black 0.4rem;
}
