.currentRank{
    font-size: 3rem;
    text-shadow: black 4px 4px;
}

.higherRank, .lowerRank{
    font-size: 2.5rem;
    text-shadow: black 3px 3px;
}

.highestRank, .lowestRank{
    font-size: 2rem;
    text-shadow: black 2px 2px;
}

.currentRank, .higherRank, .highestRank, .lowerRank, .lowestRank{
    font-family: Impact, sans-serif;
    color: whitesmoke;
}
.currentRank .rankPicture{
    width: 175px;
}

.lowestRank .rankPicture, .highestRank .rankPicture{
    width: 125px;
}

.lowerRank .rankPicture, .higherRank .rankPicture{
    width: 150px;
}