.leaderBoard{
    background-color: #ff9900;
    border: solid black 1rem;
    box-shadow: black 10px 10px;
    border-radius: 30px;
}

.entryRow{
    border: solid black 0.5rem;
    background-color: #f66b00;
    border-radius: 10px;
    padding: 7px;
    margin: 2rem 1rem;
    color: whitesmoke;
    font-family: Impact, sans-serif;
    text-shadow: black 3px 3px;
    box-shadow: black 6px 6px;
}
.entryRow h4{
    font-size: 2rem !important;
}

.filled{
    box-shadow: black 5px 5px;
    border: solid black 0.2rem;
}

.divider{
    margin-top: 2rem;
    padding: 1rem 0;
    border-bottom: black solid 0.5rem;
    border-top: black solid 0.5rem;
    background-color: whitesmoke;
    font-family: Impact, sans-serif;
    color: black;
    font-size: 2rem;
}

.userPfp{
    width: 6rem;
}

li{
    list-style: none;
}