h3 {
    font-weight: bold;
    color: #05c8fa;
}
h4{
    color: whitesmoke;
}


.leftLine{
    font-family: Impact, sans-serif;
    color: whitesmoke;
    font-size: 1.5rem;
    text-shadow: black 4px 4px;
}

.pastMatchRow{
    background-color: #8f01c8;
    border: solid black 0.5rem;
    box-shadow: black 10px 10px;
    border-radius: 20px;
}

.matchPfp{
    width: 7rem;
    height: 7rem;
}
.filled{
    box-shadow: black 7px 7px;
    border: solid black 0.3rem;
}

.gameIcon{
    width: 5rem;
}

.player1Data{
    color: whitesmoke;
    font-family: Impact, sans-serif;
    font-size: 2rem;
}
.userNameStat{
    border: solid black 0.3rem;
    background-color: #e72238;
    box-shadow: black 5px 5px;
    border-radius: 10px;
}

.eloStat{
    border: solid black 0.3rem;
    box-shadow: black 5px 5px;
    background-color: #ff5a6d;
    border-radius: 10px;
    width: 6rem;
}

.player2Data{
    color: whitesmoke;
    font-family: Impact, sans-serif;
    font-size: 2rem;
}
.userNameStat2{
    background-color: #42b1f8;
    border: solid black 0.3rem;
    box-shadow: black 5px 5px;
    border-radius: 10px;
}
.eloStat2{
    border: solid black 0.3rem;
    box-shadow: black 5px 5px;
    background-color: #70c7ff;
    border-radius: 10px;
    width: 6rem;
}

.verticalLine{
    border-left: solid black 0.5rem;
    border-right: solid black 0.5rem;
    background-color: whitesmoke;
    width: 3rem;
    height: 13rem;
}