.form-control{
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    border: solid 0.25rem black;
    box-shadow: black 8px 8px;
    border-radius: 15px;
    height: 3rem;
    padding: 5px;
}

.formTitle{
    font-family: "Kids Magazine", sans-serif;
    color: whitesmoke;
    text-shadow: black 8px 8px;
    font-size: 2rem;
}

.formWinRed{
    margin-top: 2rem;
    height: 35rem;
    border: solid 0.5rem black;
    box-shadow: black 12px 12px;
    border-radius: 20px;
    background-image: radial-gradient(#ff5a6d 30%, transparent 0%);
    radial-gradient(#ff5a6d, transparent 0%);
    background-color: #e72238 !important;
    background-position: 0 0, 50px 50px;
    background-size: 20px 20px;
}
.formWinBlue{
    margin-top: 2rem;
    height: 35rem;
    border: solid 0.5rem black;
    box-shadow: black 12px 12px;
    border-radius: 20px;
    background-image: radial-gradient(#70c7ff 30%, transparent 0%);
    radial-gradient(#70c7ff 40%, transparent 0%);
    background-color: #42b1f8 !important;
    background-position: 0 0, 50px 50px;
    background-size: 20px 20px;
}