#navbar{
    background-color: whitesmoke !important;
    padding-bottom: 10px;
    font-weight: bold;
    border-bottom: solid black 0.5rem;
}

.headerpfp{
    width: 60px;
    height: 60px;
}
.stats{
    width: 60px;
}

.headerfilled{
    border: solid black 0.1rem !important;
}