@font-face {
    font-family: "Kids Magazine";
    src: url("./media/Kids Magazine.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

::selection{
    background-color: black;
    color: white;
}
body{
    height: 100vh;
}

.goButton{
    background-color: whitesmoke;
    color: black;
    padding: 2.5rem 4rem;
    font-family: Impact, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    border: solid black 0.3rem;
    box-shadow: black -10px 10px 0 0;
}

.goButtonSmol{
    background-color: whitesmoke;
    color: black;
    padding: 2rem 3rem;
    font-family: Impact, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    border: solid black 0.3rem;
    box-shadow: black -10px 10px 0 0;
}

.goButton:hover, .goButton:active, .goButtonSmol:active, .goButtonSmol:hover{
    background-color: black;
    color: whitesmoke;
    transition: all 0.5s ease;
}

.text-error{
    color: black;
    font-weight: bold;
}


.invisB{
    visibility: hidden;
}

a{
    text-decoration: none;
}

