.filled{
    box-shadow: black 4px 4px;
    border: solid black 0.4rem;
}

.searchFriends{
    border: solid black 0.4rem;
    border-radius: 10px;
    box-shadow: black 8px 8px;
    width: 15rem;
    margin-top: 2rem;
    margin-left: 3rem;
}
.searchedUsername{
    font-family: Impact, sans-serif;
    font-size: 3rem;
    color: whitesmoke;
    text-shadow: black 7px 7px;
}
.searchedElo{
    font-family: Impact, sans-serif;
    font-size: 2.5rem;
    color :whitesmoke;
    text-shadow: black 5px 5px;
}

.v-smol{
    font-size: 1.5rem !important;
    padding: 1rem 1.5rem !important;
}
.emptypfp{
    width: 8rem;
}

.butRed{
    background-color: #ff5a6d !important;
}
.butRedRow{
    background-color: #e72238 !important;
}
.someTitle{
    font-family: Impact, sans-serif;
    font-size: 4rem;
    color: whitesmoke;
    text-shadow: black 6px 6px;
}