.anchorHeadline{
    font-family: "Kids Magazine", sans-serif;
    color: whitesmoke;
    text-shadow: black 7px 7px;
    cursor: pointer;
    padding: 0 5rem;
    font-size: 2rem;
}
.anchorHeadline:hover{
    color: black;
    text-shadow: whitesmoke 8px 8px;
    transition: all 0.5s ease;
}

.anchorCol{
    background-color: whitesmoke;
    height: 4rem;
    border: solid black 0.5rem;
    border-radius: 20px;
    box-shadow: black 8px 8px;
}
