.headline{
    font-family: "Kids Magazine", sans-serif;
    color: black;
    text-shadow: whitesmoke 7px 7px;
    cursor: pointer;
    padding: 0 5rem;
    font-size: 2rem;
}
.headline:hover{
    color: darkred;
    text-shadow: lightgrey 8px 8px;
    transition: all 0.5s ease;
}